Title: Communication efficient distributed optimization algorithm: A Survey
Keywords: compressed communication, distributed adaptive filtering, quantified operator, distributed optimization
Email: 308777142@qq.com
